.nuboxx .card {
  box-shadow: none;
}
.nuboxx .card-header {
  padding: 0;
  height: 45px !important;
  background: white;
  border-bottom: 0;
}
.nuboxx .card-header:hover {
  background: rgba(0, 0, 0, 0.03);
}
.nuboxx .btn-link {
  width: 100%;
  text-transform: none;
  color: rgb(23, 33, 40);
  margin: 0;
  padding: 0 15px;
  height: 100%;
}
.nuboxx .btn-link:hover {
  text-decoration: none !important;
}
